:root {
    background-color: white;
    font-family: 'Roboto Flex', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer {
    border-top: 1px solid #eaeaea;
    margin-top: 30px;
    padding-top: 20px;
}

.flex {
    display: flex;
}

.p-3 {
    padding: 1em;
}